header {
  text-align: center;
  .title {
    font-family: cursive;
    color: #444;
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 0.25rem;
  }

  .subTitle {
    font-family: sans-serif;
    color: #111;
    font-size: 0.85rem;
    font-weight: normal;
    margin-bottom: 3rem;
  }
}

main {
  margin: 1rem auto;
  display: flex;
  flex-flow: column;

  .sectionTitle {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.625rem;
    font-weight: bold;
  }

  .colorsSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    .addButton {
      padding: 0.125rem 0.5rem;
      font-size: 0.75rem;
      line-height: 0.85rem;
      height: 1.5rem;
      text-transform: uppercase;
      margin-left: 0.5rem;
    }
  }

  .buttonsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0.5rem;

    .buttonsBar {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .generateButton {
        margin: 0.25rem;
        padding: 0.25rem 2rem;
        font-weight: bold;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        text-transform: uppercase;
        background-color: #444;
        color: white;

        &:disabled {
          background-color: #666;
          color: #999;
        }
      }

      .copyButton {
        padding: 0.125rem 1rem;
        font-size: 0.75rem;
        line-height: 0.85rem;
        height: 1.5rem;
        text-transform: uppercase;
        margin: 0 1rem;
        white-space: nowrap;
      }
    }

    .generatingMessageInfo {
      font-size: 0.625rem;
    }
  }

  .exampleChartSection {
    width: 500px;
    height: 250px;
    margin: 0 auto;
  }
}
